.posts {
    flex: 9;
    margin-bottom: 30px;
    display: flex;
    gap: 20px;
}

.posts .post {
    width: calc(50% - 20px);
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 30px;
}

@media(max-witdth:1100px) {
    .posts .post {
        width: 100%;
        border: 1px solid rgba(0, 0, 0, 0.3);
        border-radius: 10px;
        padding: 15px;
        margin-bottom: 30px;
    }
}

.posts h1 {
    font-family: 'Pacifico', cursive;
}

.posts img {
    border-radius: 10px;
    margin-bottom: 5px;
    height: 350px;
    object-fit: cover;
}

.posts p {
    font-family: 'Arvo', serif;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    line-height: 23px;
}