.topbar {
    width: 100%;
    height: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family: 'Joseın Sans', sans-serif;
    background-color: rgb(58, 78, 96);
}

.topbar .wrapper {
    width: 100%;
    max-width: 1366px;
    display: flex;
}

.topbar .left,
.topbar .right {
    flex: 3;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.topbar.left i {
    font-size: 1.3rem;
}

.topbar .left a {
    text-decoration: none;
    display: inline-block;
    color: inherit;
    transition: color 0.3s ease;
}

.topbar .left a i {
    font-size: 1.3rem;
}

.topbar .left a:hover {
    color: #ffffff;
}

.topbar .center {
    flex: 6;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.topbar .right span img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}


/* Scroll animation */

.topbar.wrapper {
    opacity: 0;
    transition: all 0.5s;
    transform: translateY(-10px);
}

.topbar.wrapper.active {
    opacity: 1;
    transform: translateY(0px);
}

.topbar.left i {
    transition: all 0.3s;
    transform: translateX(-20px);
    opacity: 0;
}

.topbar.wrapper.active.left i {
    transition: all 0.3s;
    transform: translateX(0px);
    opacity: 1;
}